<nav class="app-navbar" *ngIf="isAdmin()">
  <div class="navbar-container" style="display: flex; justify-content: space-between; align-items: center;">
    <a class="navbar-brand" routerLink="/adminprofile">Servitec</a>
    <ul class="navbar-nav" style="display: flex; list-style: none; margin: 0; padding: 0;">
      
      <li class="nav-item" style="margin-right: 1rem;">
        <a class="nav-link" routerLink="/tools" routerLinkActive="active">
          <i class="fas fa-wrench nav-icon"></i> Herramientas
        </a>
      </li>
      <li class="nav-item" style="margin-right: 1rem;">
        <a class="nav-link" routerLink="/maintenances" routerLinkActive="active">
          <i class="fas fa-tools nav-icon"></i> Mantenimientos
        </a>
      </li>
      <li class="nav-item" style="margin-right: 1rem;">
        <a class="nav-link" routerLink="/assignments" routerLinkActive="active">
          <i class="fas fa-boxes nav-icon"></i> Asignaciones
        </a>
      </li>
      <li class="nav-item" style="margin-right: 1rem;">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">
          <i class="fas fa-users nav-icon"></i> Usuarios
        </a>
      </li>
      <li class="nav-item logout-item">
        <button class="nav-link logout-button" (click)="logout()">
          <i class="fas fa-sign-out-alt nav-icon"></i> Cerrar Sesión
        </button>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>