<div class="login-page-container">
  <div class="login-card">
    <h2 class="login-title">
      <i class="fas fa-sign-in-alt login-icon"></i> Iniciar Sesión
    </h2>
    <form class="login-form" (submit)="login(); $event.preventDefault()">
      <div class="form-group">
        <label for="cedula" class="form-label">Cédula:</label>
        <input
          type="text"
          id="cedula"
          [(ngModel)]="cedula"
          name="cedula"
          required
          class="form-input"
          placeholder="Ingrese su cédula"
        />
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Contraseña:</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
          class="form-input"
          placeholder="Ingrese su contraseña"
        />
      </div>

      <div *ngIf="errorMessage" class="message-container error-message">
        <i class="fas fa-exclamation-circle message-icon"></i> {{ errorMessage }}
      </div>

      <button type="submit" class="submit-button">
        <i class="fas fa-arrow-right button-icon"></i> Ingresar
      </button>

      <div class="form-links">
        <a href="#" class="forgot-password-link">¿Olvidaste tu contraseña?</a>
        </div>
    </form>
  </div>
</div>